<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="com.bosssoft.platform.appframe.model"/>
    </typeAliases>

	<typeHandlers>
	    <package name="com.bosssoft"/>
	</typeHandlers>
	<!-- 
    <plugins>
        <plugin interceptor="com.bosssoft.platform.page.PageHelper">
            <property name="reasonable" value="true"/>
            <property name="offsetAsPageNum" value="true"/>
            <property name="rowBoundsWithCount" value="true"/>
            <property name="pageSizeZero" value="true"/>
            <property name="supportMethodsArguments" value="true"/>
        </plugin>
    </plugins>
  -->
</configuration>